* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

:root[data-theme = "light"] {
  --color-text: rgb(0, 0, 0);
  --bg-color: #ffffff;
  --primary-color: #ff8d23;
  --hover-color: #ff8d233c;
  --secondary-color: #ff006f;
  --gray-color: #c1c1c1;
  --font-lette1: Arial, Helvetica, "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --border-radiusbtn: 10px;
  --box-shadowbox: 0 3px 5px 3px #e6e6e6;
  --text-shadow: 0 1px 2px var(--gray-color);
}

:root[data-theme = "dark"] {
  --color-text: rgb(255, 255, 255);
  --bg-color: #000000;
  --primary-color: #ff8d23;
  --hover-color: #ff8d2393;
  --secondary-color: #ff006f;
  --gray-color: #656565;
  --font-lette1: Arial, Helvetica, "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --border-radiusbtn: 10px;
  --box-shadowbox: rgba(161, 162, 162, 0.4) 0px 2px 4px 0px, rgba(196, 196, 196, 0.449) 0px 2px 16px 0px;
  --text-shadow: 0 1px 2px var(--gray-color);
}


.encendido {
  color: var(--primary-color);
  font-weight: bold;
}

.apagado {
  color: var(--color-text);
}

.desactivado {
  color: var(--gray-color);
  font-weight: 100;
}

.cerrarModal {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1rem;
  font-weight: bold;
  z-index: 99;
}

body {
  height: 100vh;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100% !important;
  padding: 1rem;
  background-color: var(--bg-color);
}

.container .enReproduccion {
  position: relative;
  width: 100%;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container .ListandoReproduccion {
  width: 100%;
  height: 3%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--color-text);
  font-weight: bold;
  border-radius: 10px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 9999;
}

.container .ListandoReproduccion.desplegar{
  height: 60%;
}


.container .ListandoReproduccion .cuerpoLista {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  background-color: var(--bg-color);
}

.container .boxcontainer {
  position: relative;
  display: flex;
  width: 30%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--bg-color);
  border-radius: var(--border-radiusbtn);
  font-family: var(--font-lette1);
  box-shadow: var(--box-shadowbox);
}

.container .boxcontainer .header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.4rem;
  font-size: 1rem;
  color: var(--color-text);
}

.container .boxcontainer .imagecontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  box-shadow: var(--box-shadowbox);
  border-radius: var(--border-radiusbtn);
  padding: 15px;
  z-index: 1;
}

.container .boxcontainer .imagecontainer .otherOpciontop{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1rem 0 1rem;
  margin: 0;
  /* background-color: var(--primary-color); */

}
.container .boxcontainer .imagecontainer .otherOpciontop  i{
  border: none;
  font-size: 12px;
  padding: 0.4rem;
  border-radius: 50%;
  color: var(--color-text);
  box-shadow: var(--box-shadowbox);
}

.activado{
  color: yellow !important;
}
 

.container .boxcontainer .imgfondo {
  height: 85%;
  object-fit: cover;
  padding-top: 1.4rem;
  /* padding: 10px; */
}

.container .boxcontainer .imgfondo img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  z-index: -1;
}

.container .boxcontainer .imagedetail {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: calc(100% + 2px);
  color: var(--color-text);
}

.detailsong h5 {
  font-weight: bold;
  letter-spacing: 0.5px;
  text-shadow: var(--text-shadow);
}

.detailsong h6 {
  font-weight: 500;
}

.container .boxcontainer .opciones {
  width: 100%;
  margin-top: 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
  color: var(--color-text);
}
.container .boxcontainer .opciones span {
  text-shadow: var(--text-shadow);
}

.container .boxcontainer .barratiempo {
  margin-top: 0.5rem;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 0.6rem;
  background-color: var(--hover-color);
  border-radius: var(--border-radiusbtn);
  box-shadow: var(--text-shadow);
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  overflow: hidden;
  border-radius: var(--border-radiusbtn);
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 0.6rem;
  width: 0.6rem;
  -webkit-appearance: none;
  cursor: pointer;
  box-shadow: -100em 0 0 100em var(--primary-color);
  -webkit-appearance: none;
  border: 3px solid white;
  border-radius: 50%;
  background: var(--primary-color);
}

.container .boxcontainer .opcionesPlay {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.container .boxcontainer .opcionesPlay i {
  background-color: var(--bg-color);
  text-align: center;
  width: 5rem;
  border-radius: var(--border-radiusbtn);
  margin: 1rem;
  padding: 10px;
  box-shadow: var(--box-shadowbox);
  cursor: pointer;
  color: var(--color-text);
}
i {
  cursor: pointer;
  text-shadow: var(--text-shadow);
}

.container .boxcontainer .opcionesPlay .play {
  width: 10rem;
}

.container .boxcontainer .equalizerview {
  margin-top: 0.5rem;
}

canvas {
  width: 100%;
  height: 2.5rem;
  background-color: var(--bg-color);
}

/* PARA EL SONIDO */
.sonido {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  color: var(--color-text);
}

.sonido input {
  margin-left: 1rem;
}

/* EMPEZANDO CON EL ALBUM  */

#containerAlbum .boxcontainer {
  justify-content: flex-start;
}

.boxcontainer .itemSong {
  position: relative;
  width: 100%;
  height: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0 0.5rem 0;
  padding-right: 10px;
  box-shadow: var(--text-shadow);
  border-radius: 10px;
}

.boxcontainer .itemSong .imagedetailA {
  width: 5rem;
  height: 100%;
}
.boxcontainer .itemSong .imagedetailA img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: var(--color-text);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.boxcontainer .itemSong .detailitem {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem 0 0.8rem;
}

.boxcontainer .itemSong .detailitem .detail span {
  color: var(--color-text);
}
.boxcontainer .itemSong .detailitem .detail span:nth-child(1) {
  font-size: 1em;
}
.timeitem span,
.boxcontainer .itemSong .detailitem .detail span:last-child {
  font-size: 0.6em;
  color: var(--gray-color);
}
.boxcontainer .itemSong .opcionesitem {
  color: var(--primary-color);
}

@media (min-width: 720px) and (max-width: 991px) {
  /* .container .ListandoReproduccion, */
  .container .boxcontainer {
    width: 50%; /* El contenedor ocupa el ancho completo */
  }
}

@media (max-width: 710px) {
  .container .enReproduccion {
    width: 60%;
  }
  /* .container .ListandoReproduccion, */
  .container .boxcontainer {
    width: 100%; /* El contenedor ocupa el ancho completo */
  }
}

@media (max-width: 410px) {
  /* .container .ListandoReproduccion, */
  .container .boxcontainer {
    width: 100%; /* El contenedor ocupa el ancho completo */
  }
}
