:root[data-theme="light"] {
  --color-text: rgb(0, 0, 0);
  --bg-color: #efefef;
  --primary-color: #23ffed;
  --container-color: white;
  --hover-color: #e5e5e5;
  --secondary-color: #ff005d;
  --gray-color: #0f0f0f;
  --font-lette1: Arial, Helvetica, "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --border-radiusbtn: 10px;
  --box-shadowbox: -2.2px -2.2px 1px #eaeaea,
    1px 2px 2px rgba(193, 193, 193, 0.426);
  --box-shadowboxActive: -2.2px -2.2px 1px #07ddf5,
    1px 2px 2px rgba(0, 247, 255, 0.426);
  --text-shadow: 0 2px 2px #bcbcbc;
}

:root[data-theme="dark"] {
  --color-text: rgb(255, 255, 255);
  --bg-color: #3e4143;
  --primary-color: #23ffed;
  --container-color: #313131;
  --hover-color: #dfdfdf;
  --secondary-color: #ff006f;
  --gray-color: #d3d3d3;
  --font-lette1: Arial, Helvetica, "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --border-radiusbtn: 10px;
  --box-shadowbox: -2.2px -2.2px 1px #1c1c1c8c, 1px 2px 4px rgba(0, 0, 0, 0.845);
  --text-shadow: 0 2px 2px black;
}

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font-lette1);
}

.encendido {
  color: var(--primary-color) !important;
  font-weight: bold;
}

.apagado {
  color: var(--color-text);
}

.desactivado {
  color: var(--gray-color);
  font-weight: 100;
}

.swal2-container.swal2-center > .swal2-popup {
  background-color: var(--container-color);
}

.swal2-container.swal2-top-end > .swal2-popup,
.swal2-container.swal2-top-right > .swal2-popup {
  background-color: var(--container-color);
}

.swal2-title {
  color: var(--color-text) !important;
}

.swal2-html-container {
  color: var(--color-text);
}

body {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0.4rem;
  background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
  background-color: var(--bg-color);
  overflow-y: auto;
}

.container .boxcontainer {
  position: relative;
  display: flex;
  width: 30%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--container-color);
  border-radius: var(--border-radiusbtn);
  font-family: var(--font-lette1);
  box-shadow: var(--box-shadowbox);
}

.container .boxcontainer .header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.4rem;
  font-size: 1rem;
  color: var(--color-text);
}

.container .boxcontainer .header .imageProfile {
  position: relative;
  display: flex;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: var(--bg-color);
}

.container .boxcontainer .header .imageProfile img {
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  position: relative;
  object-fit: cover;
  cursor: pointer;
  box-shadow: var(--text-shadow);
}

h4 {
  color: var(--color-text);
  text-shadow: var(--text-shadow);
}

.container .boxcontainer .imagecontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 54%;
  box-shadow: var(--box-shadowbox);
  border-radius: var(--border-radiusbtn);
  /* padding: 15px; */
  padding: 12px 24px 12px 24px;
  z-index: 1;
}

.container .boxcontainer .imagecontainer .otherOpciontop {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.3rem 0 0 0;
  margin: 0;
}
.container .boxcontainer .imagecontainer .otherOpciontop i {
  border: none;
  font-size: 12px;
  padding: 0.3rem;
  border-radius: 50%;
  border: 1px solid var(--bg-color);
  color: var(--color-text);
  box-shadow: var(--text-shadow);
}

.activado {
  color: var(--primary-color) !important;
}

.songActive {
  border: 1px solid var(--primary-color) !important;
  color: var(--primary-color) !important;
  box-shadow: none !important;
}

.container .boxcontainer .imgfondo {
  height: 88%;
  object-fit: cover;
  padding-top: 1.6rem;
}

.container .boxcontainer .imgfondo img {
  position: sticky;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  z-index: -1;
}

.container .boxcontainer .imagedetail {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: calc(100% + 2px);
  color: var(--color-text);
}

.detailsong h5 {
  font-weight: bold;
  letter-spacing: 0.5px;
  text-shadow: var(--text-shadow);
}

.detailsong h6 {
  font-weight: 500;
}

.container .boxcontainer .opciones {
  width: 100%;
  margin-top: 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
  color: var(--color-text);
}
.container .boxcontainer .opciones span {
  text-shadow: var(--text-shadow);
}

.container .boxcontainer .barratiempo {
  margin-top: 0.5rem;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 0.6rem;
  background-color: var(--hover-color);
  border-radius: var(--border-radiusbtn);
  box-shadow: var(--text-shadow);
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  overflow: hidden;
  border-radius: var(--border-radiusbtn);
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 0.6rem;
  width: 0.6rem;
  -webkit-appearance: none;
  cursor: pointer;
  box-shadow: -100em 0 0 100em var(--primary-color);
  -webkit-appearance: none;
  border: 3px solid white;
  border-radius: 50%;
  background: var(--primary-color);
}

.container .boxcontainer .opcionesPlay {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.container .boxcontainer .opcionesPlay i {
  background-color: var(--container-color);
  text-align: center;
  width: 5rem;
  border-radius: var(--border-radiusbtn);
  margin: 1rem;
  padding: 10px;
  box-shadow: var(--box-shadowbox);
  cursor: pointer;
  color: var(--color-text);
}

i {
  cursor: pointer;
  text-shadow: var(--text-shadow);
}

.container .boxcontainer .opcionesPlay .play {
  width: 10rem;
}

.container .boxcontainer .equalizerview {
  margin-top: 0.5rem;
}

.equalizerview canvas {
  width: 100%;
  height: 2.8rem;
  background-color: transparent;
}

/* PARA EL SONIDO */
.sonido {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  color: var(--color-text);
}

.sonido input {
  margin-left: 1rem;
}

/* EMPEZANDO CON EL ALBUM  */
#containerInicio .boxcontainer,
#containerSongs .boxcontainer,
#containerAlbum .boxcontainer {
  justify-content: flex-start;
}

.itemAlbum,
.itemSong {
  position: relative;
  width: 100%;
  height: 3.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0 0.5rem 0;
  padding-right: 10px;
  box-shadow: var(--text-shadow);
  border: 1px solid var(--bg-color);
  border-radius: 10px;
  cursor: pointer;
}
.itemAlbum .imagedetailA,
.itemSong .imagedetailA {
  width: 6rem;
  height: 100%;
}
.itemAlbum .imagedetailA img,
.itemSong .imagedetailA img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: var(--color-text);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.itemAlbum .detailitem,
.itemSong .detailitem {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem 0 0.8rem;
}

.itemAlbum .detailitem .detail span,
.itemSong .detailitem .detail span {
  color: var(--color-text);
}
.itemAlbum .detailitem .detail span:nth-child(1),
.itemSong .detailitem .detail span:nth-child(1) {
  font-size: 0.8rem;
}

.itemAlbum .detailitem .detail span:last-child,
.timeitem span,
.itemSong .detailitem .detail span:last-child {
  font-size: 0.5rem;
  font-weight: 100;
  color: var(--gray-color);
}
.opcionesitem {
  position: relative;
  padding: 5px;
  z-index: 99999;
  /* background-color: #00d1ca; */
}

/* EN REPRODUCCION*/

.container .enReproduccion {
  position: static;
  width: 100%;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container .ListandoReproduccion {
  width: 100%;
  height: 3%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--container-color);
  color: var(--color-text);
  border-radius: 10px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 999;
}

.container .ListandoReproduccion.desplegar {
  border-top: 1px solid var(--bg-color);
  height: 60%;
  overflow-y: scroll;
}

.container .ListandoReproduccion .cuerpoLista {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: var(--container-color);
  /* background-color: red; */
}

.cuerpoLista .headlista {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cuerpoLista .headlista span {
  font-size: 0.6rem;
  font-weight: 100;
}

/* INICIO */
.container .avatares {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container .avatares .Contenedor_Avatares {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "uno dos"
    "tres cuatro";
  margin-bottom: 1rem;
  width: 100%;
  height: 100%;
  grid-template: min-content;
  z-index: 99999999;
}

.uno {
  grid-area: uno;
}

.dos {
  grid-area: dos;
}

.tres {
  grid-area: tres;
}

.cuatro {
  grid-area: cuatro;
}

.container .avatares .Contenedor_Avatares img {
  width: 100%;
  height: 12rem;
  object-fit: contain;
  cursor: pointer;
  padding: 10px;
  filter: drop-shadow(0 1px 6px var(--primary-color));
}

.container .avatares .Contenedor_Avatares .avatar:hover {
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
}

.imageActive {
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
}

label {
  color: #1cd8d2;
  text-shadow: var(--text-shadow);
}
.container .formulario form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.container .formulario form input {
  width: 60%;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin-top: 0.3rem;
  box-shadow: var(--box-shadowbox);
}
.container .formulario form input:focus-within,
.container .formulario form input:active,
.container .formulario form input:hover {
  outline: 1px solid var(--primary-color);
}

.container .formulario form button {
  width: 80%;
  background-image: linear-gradient(
    to right,
    #08f6ee 0%,
    #403f3f 51%,
    #00d1ca 100%
  );
  margin: 10px;
  padding: 15px 60px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: var(--box-shadowbox);
  border-radius: 10px;
  display: block;
  border: none;
  cursor: pointer;
}

.container .formulario form button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.container #systemsCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 720px) and (max-width: 991px) {
  .container .boxcontainer {
    width: 50%;
  }
}

@media (max-width: 710px) {
  .itemAlbum .detailitem .detail span,
  .itemSong .detailitem .detail span {
    font-size: 12px;
  }
  .container .enReproduccion {
    width: 60%;
  }

  .container .boxcontainer {
    width: 100%;
  }
}

@media (max-width: 410px) {
  .itemAlbum .detailitem .detail span,
  .itemSong .detailitem .detail span {
    font-size: 10px !important;
  }
  .container .boxcontainer {
    width: 100%;
  }
}

@media screen and (max-height: 600px) {
  body {
    height: 100%;
  }
}
